<div class="screen">
    <div class="section login">
        <h1>LOGIN</h1>
        <form>
            <fieldset class="field input">
                <label for="cnpj">CNPJ</label>
                <input type="text"
                       id="cnpj">
            </fieldset>
            <fieldset class="field input">
                <label for="password">SENHA</label>
                <input type="text"
                       id="password">
            </fieldset>
            <fieldset class="field check">
                <input id="check"
                       type="checkbox">
                <label for="check">Lembrar de mim</label>
            </fieldset>
            <fieldset class="field button">
                <button>Entrar</button>
            </fieldset>
        </form>
    </div>
    <div class="section imagem">
        <!-- <img src="../../../assets/folha.jpg"> -->
        <div class="ball"></div>
    </div>
</div>